*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}
header{
    width: 90%;
    height: 150px;
    background-color: rgb(255, 20, 20);
    margin: 0 auto;
    text-align: center;
}
header img{
    height: 95%;
}
nav{
    width: 90%;
    height: 50px;
    background-color: rgb(10, 10, 10);
    color: rgb(220, 220, 220);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}
nav a{
    color: rgb(220, 220, 220);
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    transition: .5s;
    font-size: larger;
}
nav a:hover{
    background-color: rgb(255, 20, 20);
    color: rgb(10, 10, 10);
    transform: scale(1.2);
}
main{
    width: 90%;
    height: 2000px;
    margin: 0 auto;

    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.personaje{
    width: 90%;
    height: 400px;
    margin-left: 5%;
    margin-top: 80px;
    display: inline-block;
}
.foto{
    width: 30%;
    height: 400px;
    float: left;
    margin-left: 33px;
    text-align: center;
    background-color: rgb(10, 10, 10);
    border: 10px ridge rgb(255, 20, 20);
}
.foto img{
    height: 80%;
}
.info{
    width: 60%;
    height: 400px;
    background-color: rgb(10, 10, 10);
    color: rgb(220, 220, 220);
    float: left;
    margin-left: 33px;
    padding: 30px;
    border: 10px ridge rgb(255, 20, 20);
}
.info h3{
    font-size: 1.8rem;
    margin: 20px 0;
}
.info p{
    font-size: 1.2rem;
}
.info a{
    color: rgb(220, 220, 220);
    transition: .5s;
    font-size: 1.2rem;

}
.info a:hover{
    color: rgb(255, 20, 20);
    font-size: 1.3rem;
}
footer{
    width: 90%;
    height: 300px;
    background-color:rgb(10, 10, 10);
    color: rgb(220, 220, 220);
    margin: 0 auto;
    padding: 20px;
}
footer a{
    display: block;
    padding-top: 10px;
    color: rgb(220, 220, 220);
    text-decoration: none;
    transition: .3s;
}
footer a:hover{
    font-size: large;
    text-decoration: underline;
    color: rgb(255, 20, 20);
footer p{
    padding-top: 20px;
    color: rgb(220, 220, 220);
}