*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}
header{
    width: 1366px;
    height: 150px;
    background-color: red;
    margin: 0 auto;
    text-align: center;
}
header img{
    height: 95%;
}
nav{
    width: 1366px;
    height: 50px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    padding: 15px 20px;
    transition: .5s;
    font-size: larger;
}
nav a:hover{
    background-color: red;
    color: black;
    transform: scale(1.2);
}
main{
    width: 1366px;
    height: 2000px;
    /*background-color: rgb(92, 0, 0);*/
    margin: 0 auto;

    background-image: url(../img/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.personaje{
    width: 1300px;
    height: 400px;
    /*background-color: rgb(220, 106, 106);*/
    margin-left: 33px;
    margin-top: 80px;
    display: inline-block;
}
.foto{
    width: 400px;
    height: 400px;
    /*background-color: rgb(255, 0, 0);*/
    float: left;
    margin-left: 33px;
    text-align: center;
}
.foto img{
    height: 80%;
}
.info{
    width: 800px;
    height: 400px;
    background-color:black;
    color: whitesmoke;
    float: left;
    margin-left: 33px;
    padding: 30px;
    border: 10px ridge red;
}
.info h3{
    font-size: 1.8rem;
    margin: 20px 0;
}
footer{
    width: 1366px;
    height: 200px;
    background-color:black;
    color: whitesmoke;
    margin: 0 auto;
}